body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: aqua;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: purple;
}

